@{
    ViewData["Title"] = "Home";
}


@using PierresSweets.Models
@model List<PierresSweets.Models.Flavor>

<div class="container">
  <h1>Pierre's Sweetshop</h1>

  <div class="row">
    <div class="col-6">
      <div class="card">
        <h5>Available Treats</h5>
        @if (ViewBag.Treats.Count == 0)
        {
          <p id="centered">No treats have been added yet</p>
        }
        else
        {
          {
            <ul>
              @foreach (Treat treat in ViewBag.Treats)
              {
                <li>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId })</li>
              }
            </ul>
          }
        }
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <h5>Flavor List:</h5>
        @if (ViewBag.Flavors.Count == 0)
        {
          <p>No flavors have been added yet</p>
        }
        else
        {
          {
            <ul>
              @foreach (Flavor flavor in ViewBag.Flavors)
              {
                  <li>@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new { id = flavor.FlavorId })</li>
              }
            </ul>
          }
        }
      </div>
    </div>
  </div>

  @if (User.Identity.IsAuthenticated)
  {
  <h3>Welcome @User.Identity.Name</h3>
  @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="btn btn-primary" value="Log Out"/>
    }
  }
  else
  {
    <p>@Html.ActionLink("Register/Log-in", "Index", "Account", null, new { @Class = "btn btn-primary"})</p>
  }
  <p>@Html.ActionLink("View Treats", "Index", "Treats", null, new { @Class = "btn btn-primary"})</p>
  <p>@Html.ActionLink("View Flavors", "Index", "Flavors", null, new { @Class = "btn btn-primary"})</p>
</div>